<% if notice %>
<div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <ul class="mb-0"><%= notice%></ul>
</div>
<% end %>
<% if alert %>
<div class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <ul class="mb-0"><%= alert%></ul>
</div>
<% end %>